@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-RegularItalicAlt.eot");
  src: local("Brown-RegularItalicAlt"), url("../fonts/Brown-RegularItalicAlt.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-RegularItalicAlt.woff") format("woff"), url("../fonts/Brown-RegularItalicAlt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-LightItalic.eot");
  src: local("Brown-LightItalic"), url("../fonts/Brown-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-LightItalic.woff") format("woff"), url("../fonts/Brown-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-Light.eot");
  src: local("Brown-Light"), url("../fonts/Brown-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-Light.woff") format("woff"), url("../fonts/Brown-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-Regular.eot");
  src: local("Brown-Regular"), url("../fonts/Brown-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-Regular.woff") format("woff"), url("../fonts/Brown-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-BoldAlt.eot");
  src: local("Brown-BoldAlt"), url("../fonts/Brown-BoldAlt.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-BoldAlt.woff") format("woff"), url("../fonts/Brown-BoldAlt.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-ThinItalic.eot");
  src: local("Brown-ThinItalic"), url("../fonts/Brown-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-ThinItalic.woff") format("woff"), url("../fonts/Brown-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-Thin.eot");
  src: local("Brown-Thin"), url("../fonts/Brown-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-Thin.woff") format("woff"), url("../fonts/Brown-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-BoldItalicAlt.eot");
  src: local("Brown-BoldItalicAlt"), url("../fonts/Brown-BoldItalicAlt.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-BoldItalicAlt.woff") format("woff"), url("../fonts/Brown-BoldItalicAlt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-RegularItalic.eot");
  src: local("Brown-RegularItalic"), url("../fonts/Brown-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-RegularItalic.woff") format("woff"), url("../fonts/Brown-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-LightBackslanted.eot");
  src: local("Brown-LightBackslanted"), url("../fonts/Brown-LightBackslanted.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-LightBackslanted.woff") format("woff"), url("../fonts/Brown-LightBackslanted.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-RegularBackslantedAlt.eot");
  src: local("Brown-RegularBackslantedAlt"), url("../fonts/Brown-RegularBackslantedAlt.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-RegularBackslantedAlt.woff") format("woff"), url("../fonts/Brown-RegularBackslantedAlt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-RegularAlt.eot");
  src: local("Brown-RegularAlt"), url("../fonts/Brown-RegularAlt.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-RegularAlt.woff") format("woff"), url("../fonts/Brown-RegularAlt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-Bold.eot");
  src: local("Brown-Bold"), url("../fonts/Brown-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-Bold.woff") format("woff"), url("../fonts/Brown-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-ThinBackslanted.eot");
  src: local("Brown-ThinBackslanted"), url("../fonts/Brown-ThinBackslanted.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-ThinBackslanted.woff") format("woff"), url("../fonts/Brown-ThinBackslanted.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-RegularBackslanted.eot");
  src: local("Brown-RegularBackslanted"), url("../fonts/Brown-RegularBackslanted.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-RegularBackslanted.woff") format("woff"), url("../fonts/Brown-RegularBackslanted.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-BoldBackslanted.eot");
  src: local("Brown-BoldBackslanted"), url("../fonts/Brown-BoldBackslanted.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-BoldBackslanted.woff") format("woff"), url("../fonts/Brown-BoldBackslanted.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-BoldItalic.eot");
  src: local("Brown-BoldItalic"), url("../fonts/Brown-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-BoldItalic.woff") format("woff"), url("../fonts/Brown-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-BoldBackslanted-Alt.eot");
  src: local("Brown-BoldBackslanted-Alt"), url("../fonts/Brown-BoldBackslanted-Alt.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-BoldBackslanted-Alt.woff") format("woff"), url("../fonts/Brown-BoldBackslanted-Alt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Brown', sans-serif; }

a {
  text-decoration: none; }

button {
  outline: none; }

h1, .h1 {
  font-size: 4.8rem;
  font-weight: 700;
  color: #32325d; }

h2, .h2 {
  font-size: 4.8rem;
  font-weight: 300;
  color: #32325d;
  line-height: 65px; }

h3, .h3 {
  font-size: 3rem;
  font-weight: 300;
  color: #212240; }

h4, .h4 {
  font-size: 2rem;
  font-weight: 500;
  color: #212240; }

p {
  font-size: 2.3rem;
  font-weight: 300;
  color: #525f7f; }

dl {
  margin-bottom: 120px; }

dl > * {
  margin-bottom: 30px; }

dt {
  font-size: 3rem;
  font-weight: 500;
  color: #32325d; }

dd {
  font-size: 2rem;
  font-weight: 300;
  color: #32325d; }
  dd::before {
    content: '';
    display: inline-block;
    background-image: url("../img/ddd.png");
    background-repeat: no-repeat;
    line-height: 60px;
    position: relative;
    top: 3px;
    margin-right: 20px;
    margin-top: 5px;
    height: 20px;
    width: 20px; }

.description {
  font-size: 1.6rem;
  font-weight: 300;
  color: #525f7f; }

.get-btn, .modal-submit {
  border-radius: 3px;
  background-color: #845cff;
  -webkit-box-shadow: -6.691px 7.431px 20px 0px rgba(111, 54, 255, 0.2);
  box-shadow: -6.691px 7.431px 20px 0px rgba(111, 54, 255, 0.2);
  width: 142px;
  height: 42px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase; }
  .get-btn:hover, .modal-submit:hover {
    cursor: pointer;
    background-color: #fff;
    color: #32325d;
    -webkit-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease; }

.get-btn {
  margin-right: 35px; }

.btn-text {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase; }

.talkto {
  font-size: 1.9rem;
  font-weight: 500;
  color: #32325d; }

.flex {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.wrapper {
  min-width: 65%;
  max-width: 80%;
  margin: 0 auto; }

.header {
  width: 100%;
  height: 995px;
  background-image: url("../img/header-bg.png"); }

.heading {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 50px;
  margin-bottom: 280px; }
  @media only screen and (max-width: 980px) {
    .heading {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media only screen and (max-width: 768px) {
    .heading {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.menu {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px; }
  @media only screen and (max-width: 768px) {
    .menu {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap;
      row-gap: 15px; } }

.menu__item {
  list-style-type: none;
  padding: 0 26px; }
  .menu__item:last-child {
    padding: 0; }

@media screen and (max-width: 768px) {
  .menu__item {
    padding: 10px 0; }
  .header .logo {
    margin-bottom: 20px; }
  .heading {
    margin-bottom: 50px; } }

.menu__item a {
  font-size: 1.9rem;
  font-weight: 700;
  color: #32325d;
  text-decoration: none; }
  .menu__item a:hover {
    color: #212240; }

.signin {
  width: 102px;
  height: 42px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #845cff;
  border-radius: 3px;
  -webkit-box-shadow: -6.691px 7.431px 20px 0px rgba(132, 92, 255, 0.2);
  box-shadow: -6.691px 7.431px 20px 0px rgba(132, 92, 255, 0.2);
  color: #fff !important;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: 0;
  flex-flow: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .signin:hover {
    background-color: #fff;
    color: #32325d !important;
    -webkit-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease; }

.greeting {
  max-width: 465px; }

.greeting p {
  padding: 65px 0 45px 0; }

.get-started {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

@media only screen and (min-width: 768px) {
  .features {
    margin-top: -100px;
    background-image: url("../img/features-bg.png");
    background-position: 0 0;
    background-repeat: no-repeat; } }

@media only screen and (max-width: 768px) {
  .features {
    margin-top: 50px; } }

/*.feature__block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  flex-flow: row wrap;

  justify-content: space-between;
}*/
/*.feature__head {
  max-width: 525px;

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  flex-direction: column;

  justify-content: flex-end;
}*/
.feature__card {
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: -6.691px 7.431px 20px 0px rgba(212, 212, 250, 0.2);
  box-shadow: -6.691px 7.431px 20px 0px rgba(212, 212, 250, 0.2);
  max-width: 560px;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 63px 73px 100px 59px; }

.feature__block:nth-child(-n+2) {
  margin-bottom: 30px; }

.feature__card:nth-last-child(-n+2) {
  margin-top: 30px; }

.proofs__heading {
  margin-top: 195px; }

.proofs-list {
  margin-top: 75px; }

.proofs-list__item {
  margin: 75px 0; }

.proofs {
  background-image: url("../img/proofs-bg.png");
  background-repeat: no-repeat;
  background-position: 0 290px;
  min-height: 1400px; }

.proofs__desc {
  height: 72px; }

.get-started__section > .wrapper > .row {
  padding-top: 210px; }

@media only screen and (min-width: 768px) {
  .get-started__first-bg {
    background-image: url("../img/il-1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center; }
  .get-started__second-bg {
    background-image: url("../img/il-2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center; }
  .finance-bg {
    background-image: url("../img/il-3.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center; } }

.finance > .wrapper > .row:first-child {
  padding-top: 210px; }

.finance__p {
  margin-bottom: 180px; }

.subscribe {
  background-color: #fafaff;
  padding: 120px 0; }

.markers {
  min-height: 10px;
  background-image: url("../img/markers.png");
  background-repeat: no-repeat; }

#subscribe {
  position: relative; }

@media screen and (max-width: 768px) {
  #subscribe {
    margin-top: 1.8rem; } }

.subscribe-email, .modal-input {
  padding-left: 40px;
  padding-top: 5px;
  border: 0;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: -6.691px 7.431px 20px 0px rgba(212, 212, 250, 0.2);
  box-shadow: -6.691px 7.431px 20px 0px rgba(212, 212, 250, 0.2);
  width: 100%;
  height: 70px;
  font-size: 1.9rem;
  font-weight: 300;
  outline: none; }
  .subscribe-email::-webkit-input-placeholder, .modal-input::-webkit-input-placeholder {
    font-size: 1.9rem;
    font-weight: 300; }
  .subscribe-email:-ms-input-placeholder, .modal-input:-ms-input-placeholder {
    font-size: 1.9rem;
    font-weight: 300; }
  .subscribe-email::-ms-input-placeholder, .modal-input::-ms-input-placeholder {
    font-size: 1.9rem;
    font-weight: 300; }
  .subscribe-email::placeholder, .modal-input::placeholder {
    font-size: 1.9rem;
    font-weight: 300; }

.subscribe-submit {
  cursor: pointer;
  text-transform: uppercase;
  color: #845cff;
  font-size: 1.5rem;
  font-weight: 700;
  border: 0;
  background-color: transparent;
  position: absolute;
  right: 50px;
  top: 40%; }

i.enter {
  background-image: url("../img/enter.png");
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 10px;
  height: 18px;
  width: 18px; }

.footer {
  padding: 145px 0 60px 0;
  background-color: #212240; }

.footer-row__one {
  margin-bottom: 140px; }

.footer .phone a {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  text-decoration: none; }

.footer .email a {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: none; }

.social svg {
  max-width: 17px;
  max-height: 16px;
  fill: #555377; }
  .social svg:hover {
    cursor: pointer;
    fill: #fff;
    -webkit-transition: .7s all;
    -o-transition: .7s all;
    transition: .7s all; }

.social > *:not(:last-child) {
  margin-right: 15px; }

@media screen and (max-width: 768px) {
  .footer-list {
    margin: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer-contacts {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
  .footer-row__two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer-row__two .copy {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    text-align: center; }
  .footer-row__two .policy-list {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important; } }

.footer-list, .footer-list a {
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  list-style: none;
  text-decoration: none; }

.footer-list:nth-child(3) {
  font-weight: 500 !important; }

.footer-list__item:not(:last-child) {
  margin-bottom: 20px; }

.copyright, .policy a {
  color: #555377;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none; }
  .copyright:hover, .policy a:hover {
    color: #fff;
    -webkit-transition: .7s all;
    -o-transition: .7s all;
    transition: .7s all; }

.policy-list > li:not(:last-child) {
  margin-right: 40px; }

.modal-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(152, 152, 152, 0.5); }

#modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 35px 50px;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: -6.691px 7.431px 20px 0px rgba(212, 212, 250, 0.2);
  box-shadow: -6.691px 7.431px 20px 0px rgba(212, 212, 250, 0.2);
  position: fixed;
  top: 5%;
  right: 30%;
  width: 550px;
  height: 650px;
  z-index: 100; }
  #modal > .modal-input {
    margin: 20px 0; }
  #modal .modal-input.invalid {
    border: 1px solid red;
    -webkit-transition: .7s all;
    -o-transition: .7s all;
    transition: .7s all; }
  #modal .p-policy {
    display: inline-block; }
  #modal .policy-modal-block {
    position: relative; }
  #modal .agree-block {
    position: absolute;
    left: -30px;
    bottom: 17%; }
  #modal .agree-label {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../img/Disagree.png");
    background-repeat: no-repeat; }
  #modal #modal-agree:checked + .agree-label {
    background-image: url("../img/Agree.png") !important;
    background-repeat: no-repeat; }
  #modal #close {
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 50%;
    background-color: #845cff;
    -webkit-box-shadow: -2.691px 5px 10px 0px rgba(111, 54, 255, 0.2);
    box-shadow: -2.691px 5px 10px 0px rgba(111, 54, 255, 0.2);
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center; }
    #modal #close span {
      display: block;
      width: 20px;
      height: 1px;
      background-color: #fff;
      border: 0;
      position: absolute;
      left: 5px; }
      #modal #close span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      #modal #close span:nth-child(2) {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }

/*# sourceMappingURL=main.css.map */